* {
	background-color: transparent;
	text-color: white;
}

window {
	fullscreen: false;
	width: 960px;
	height: 540px;
	background-color: black;
	border-color: lightblue;
	border: 3px;
	border-radius: 10px;
	padding: 12px;
	children: [ wrap, listview-split];
	spacing: 8px;
}

listview-split {
	orientation: horizontal;
	spacing: 8px;
	children: [listview];
}

listview {
	flow: horizontal;
	fixed-columns: true;
	columns: 4;
	lines: 3;
	spacing: 8px;
}

element {
	orientation: vertical;
	padding: 4px;
	children: [element-icon, element-text];
}

element-icon {
	size: calc(((100% - 8em) / 4));
	horizontal-align: 0.5;
	vertical-align: 0.5;
}

element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
	padding: 4px 0;
}

wrap {
	expand: false;
	orientation: vertical;
	children: [ inputbar, message ];
	background-image: linear-gradient(white/5%, white/40%);
	border-color: lightblue;
	border: 3px;
	border-radius: 10px;
	spacing: 8px;
}

icon-ib {
	expand: false;
	filename: "system-search";
	vertical-align: 0.5;
	horizontal-align: 0.5;
	size: 1em;
}

inputbar {
	spacing: 8px;
	padding: 8px 12px;
	children: [ icon-ib, entry ];
}

entry {
	placeholder: "Search";
	placeholder-color: grey;
}

message {
	background-color: red/20%;
	border-color: lightsalmon;
	border: 3px 0px 0px 0px;
	padding: 8px 12px;
}
