[Unit]
Description=Download Bing wallpaper periodically

[Timer]
OnCalendar=*-*-* 00/4:00:00
OnBootSec=5min
Persistent=true

[Install]
WantedBy=timers.target
