[Unit]
Description=Download Bing wallpaper of the day

[Service]
Type=oneshot
ExecStart=%h/.local/scripts/bing-wallpaper.sh

[Install]
WantedBy=default.target
