[Unit]
Description=Waybar - Wayland Bar
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/sbin/waybar
Restart=always
RestartSec=3
ExecCondition=/usr/bin/test -n "$WAYLAND_DISPLAY"

[Install]
WantedBy=default.target
